{% extends 'base.html.twig' %}

{% block title %}{{ 'account.settings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'account.settings' | trans }}</h1>
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.username) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.contactEmail) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.preferredLocale) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}