{% extends 'public/base.html.twig' %}

{% import 'macros/confirm_macro.html.twig' as confirm %}

{% block title %}{{ 'account.connected_accounts' | trans }}{% endblock %}

{% block body %}
    {% include 'includes/page_header.html.twig' with {
        title: 'account.connected_accounts'|trans,
        subtitle: 'Link and manage your social media accounts',
        icon: 'bi bi-link-45deg'
    } %}

    <div class="container">
        <div class="card">
            <div class="card-body">

        {% if socialAccounts|length > 0 %}
            <ul class="list-group">
                {% for account in socialAccounts %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ account.provider.value|upper }}: {{ account.displayName }}</span>
                        {% if socialAccounts|length > 1 %}
                            <form id="unlink-form-{{ account.id }}" action="{{ path('account_social_unlink', {'id': account.id}) }}" method="post">
                                {{ confirm.confirmFormButton('unlink-form-' ~ account.id, 'account.unlink', 'account.confirm_unlink') }}
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning">
                {{ 'account.no_connected_accounts' | trans }}
            </div>
        {% endif %}

        <a href="{{ path('sso_connect') }}" class="btn btn-primary mt-3">
            {{ 'account.link_another_social' | trans }}
        </a>
            </div>
        </div>
    </div>
{% endblock %}