{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_title %}{{ 'larp.item.list'|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">{{ 'larp.item.list'|trans }}</h2>
                <div class="d-flex gap-2">
                    <a href="{{ path('backoffice_larp_story_item_modify', { larp: larp.id }) }}" class="btn btn-success">
                        {{ 'create'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            {% include 'includes/filter_form.html.twig' with { form: filterForm } %}

            {% if items is not empty %}
            <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead class="table-light">
                <tr>
                    {% include 'includes/sort_th.html.twig' with {
                        field: 'title',
                        label: 'name'|trans
                    } %}
                    <th>{{ 'description'|trans }}</th>
                    <th>{{ 'amount'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <a href="{{ path('backoffice_larp_story_item_modify', { larp: larp.id, item: item.id }) }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td>{{ item.description|truncate_words(10) }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>

                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#globalDeleteItemModal" data-delete-text=" {{ 'delete'|trans }}" data-character-id="{{ item.id }}" data-character-name="{{ item.title }}" data-delete-url-base="{{ path('backoffice_larp_story_item_delete', { larp: larp.id, item: 'CHARACTER_ID' }) }}">
                                {{ 'delete'|trans }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            {% else %}
                <p class="text-muted p-3">{{ 'empty_list'|trans }}</p>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="globalDeleteItemModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="globalDeleteItemModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    {{ 'confirmation'|trans() }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {{ 'cancel'|trans }}
                    </button>
                    <a href="#" id="deleteOnlyLarpilot" class="btn btn-danger">
                        {{ 'larp.item.delete_only_larpilot'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const deleteModal = document.getElementById('globalDeleteItemModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const characterId = button.getAttribute('data-character-id');
            const characterName = button.getAttribute('data-character-name');
            const baseUrl = button.getAttribute('data-delete-url-base');
            const deleteTxt = button.getAttribute('data-delete-text');
            const modalTitle = deleteModal.querySelector('.modal-title');
            modalTitle.textContent = `${deleteTxt} "${characterName}"?`;
            const deleteOnlyLink = document.getElementById('deleteOnlyLarpilot');
            deleteOnlyLink.href = baseUrl.replace('CHARACTER_ID', characterId).replace('INTEGRATIONS_FLAG', 'false');
        });
    </script>
{% endblock %}
