{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_content %}
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h5 class="card-title mb-0">
                {{ item.title ? item.title : 'new'|trans }}
            </h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.quantity, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.quantity, {'attr': {'class': 'form-control', 'min': '0'}}) }}
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                {{ form_label(form.description, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
                {{ form_errors(form.description) }}
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.cost, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.cost, {'attr': {'class': 'form-control', 'min': '0', 'step': '0.01'}}) }}
                        {{ form_errors(form.cost) }}
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check">
                                    {{ form_widget(form.isCrafted, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(form.isCrafted, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    {{ form_widget(form.isPurchased, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(form.isPurchased, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {{ form_rest(form) }}
            
            <div class="d-flex justify-content-between">
                <a href="{{ path('backoffice_larp_story_item_list', {'larp': larp.id}) }}" class="btn btn-outline-secondary">
                    {{ 'cancel'|trans }}
                </a>

            </div>
            
            {{ form_end(form) }}
        </div>
    </div>

    {% if item.id %}
        {# Relations #}
        <div class="card mb-3 shadow-sm">
            <div
                    class="card-header d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    data-bs-target="#relationsCollapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="relationsCollapse"
            >
            <span class="fw-bold">
                {{ 'larp.relation.list'|trans }}
            </span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20" height="20"
                     class="bi bi-chevron-down transition toggleIcon"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>

            <div id="relationsCollapse" class="collapse">
                <div class="card-body">
                    {{ component('StoryObjectRelationListForm', {
                        storyObject: item,
                    }) }}
                </div>
            </div>
        </div>

        {# References #}
        <div class="card mb-3 shadow-sm">
            <div
                    class="card-header d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    data-bs-target="#referencesCollapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="referencesCollapse"
            >
            <span class="fw-bold">
                {{ 'larp.reference.list'|trans }}
            </span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20" height="20"
                     class="bi bi-chevron-down transition toggleIcon"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>

            <div id="referencesCollapse" class="collapse">
                <div class="card-body">
                    {{ component('StoryObjectReferencesListForm', {
                        storyObject: item,
                    }) }}
                </div>
            </div>
        </div>
        
        {# Version History #}
        <div class="card mb-3 shadow-sm">
            <div
                    class="card-header d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    data-bs-target="#versionHistoryCollapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="versionHistoryCollapse"
            >
            <span class="fw-bold">
                {{ 'larp.version_history'|trans }}
            </span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20" height="20"
                     class="bi bi-chevron-down transition toggleIcon"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
            
            <div id="versionHistoryCollapse" class="collapse">
                <div class="card-body">
                    {{ component('StoryObjectVersionHistory', { 
                        storyObject: item,
                        showChangelogLinks: true 
                    }) }}
                </div>
            </div>
        </div>

        {# Mentions #}
        {% include 'includes/story_object_mentions.html.twig' %}
    {% endif %}

{% endblock %}

{% block title %}{{ larp.title }} - {{ item.title ?? 'new'|trans }}{% endblock %}
