{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_content %}

<div class="card">
    <div class="card-header">
        {% if participant.user is not null %}
            <h5 class="card-title mb-0">{{ participant.user.username }}</h5>
        {% else %}
            <h5 class="card-title mb-0">{{ 'new'|trans }} {{ 'participant'|trans }}</h5>
        {% endif %}
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block larp_title %}{{ (participant is defined and participant.id ? 'larp.participant.modify' : 'larp.participant.create')|trans }} - {{ larp.title }}{% endblock %}

