{% extends 'backoffice/larp/base.html.twig' %}

{% import 'macros/ui_components.html.twig' as ui %}

{% block larp_title %}
    {% if isNew %}
        {{ 'event_planner.event.create'|trans }} - {{ larp.title }}
    {% else %}
        {{ 'event_planner.event.modify'|trans }} - {{ event.title }} - {{ larp.title }}
    {% endif %}
{% endblock %}

{% block larp_content %}
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card mt-4">
                <div class="card-header">
                    <h2 class="mb-0">
                        {% if isNew %}
                            {{ 'event_planner.event.create'|trans }}
                        {% else %}
                            {{ 'event_planner.event.edit'|trans }}
                        {% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}

                        <hr>
                        <h5>{{ 'event_planner.event.timing'|trans }}</h5>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.startTime) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.endTime) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.setupMinutes) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.cleanupMinutes) }}
                            </div>
                        </div>

                        <hr>
                        <h5>{{ 'event_planner.event.location_and_story'|trans }}</h5>
                        {{ form_row(form.location) }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.quest) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.thread) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.event) }}
                            </div>
                        </div>

                        <hr>
                        <h5>{{ 'event_planner.event.settings'|trans }}</h5>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.status) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.visibleToPlayers) }}
                            </div>
                        </div>
                        {{ form_row(form.organizerNotes) }}

                        {{ ui.form_actions(
                            event is defined and event.id ? 'save' : 'create',
                            'bi-check-circle',
                            path('backoffice_event_planner_event_list', { larp: larp.id })
                        ) }}
                    {{ form_end(form) }}

                    <hr>
                    <h5>{{ 'event_planner.event.resources'|trans }}</h5>
                    {% if event.id %}
                        {{ component('ResourceBookingListForm', {
                            scheduledEvent: event,
                        }) }}
                    {% else %}
                        <div class="alert alert-info">
                            {{ 'event_planner.resource.save_first'|trans }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
