{# templates/backoffice/larp/characters/modify.html.twig #}
{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_content %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div class="card mb-3 shadow-sm">
        <div
                class="card-header d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse"
                data-bs-target="#relationsCollapse"
                role="button"
                aria-expanded="true"
                aria-controls="relationsCollapse"
        >
        <span class="fw-bold">
            {{ 'backoffice.larp.relation.list'|trans }}
        </span>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-down transition toggleIcon"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>

        <div id="relationsCollapse" class="collapse">
            <div class="card-body">
                {{ component('StoryObjectRelationListForm', {
                    storyObject: character,
                }) }}
            </div>
        </div>
    </div>

    {# Quests #}
    <div class="card mb-3 shadow-sm">
        <div
                class="card-header d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse"
                data-bs-target="#questsCollapse"
                role="button"
                aria-expanded="true"
                aria-controls="questsCollapse"
        >
        <span class="fw-bold">
            {{ 'backoffice.larp.quest.list'|trans }}
        </span>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-down transition toggleIcon"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>

        <div id="questsCollapse" class="collapse">
            <div class="card-body">
                Questy
            </div>
        </div>
    </div>

    {# Threads #}
    <div class="card mb-3 shadow-sm">
        <div
                class="card-header d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse"
                data-bs-target="#threadsCollapse"
                role="button"
                aria-expanded="true"
                aria-controls="threadsCollapse"
        >
        <span class="fw-bold">
            {{ 'backoffice.larp.thread.list'|trans }}
        </span>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-down transition toggleIcon"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>

        <div id="threadsCollapse" class="collapse">
            <div class="card-body">
                Thready
            </div>
        </div>
    </div>


    {# References #}
    <div class="card mb-3 shadow-sm">
        <div
                class="card-header d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse"
                data-bs-target="#referencesCollapse"
                role="button"
                aria-expanded="true"
                aria-controls="referencesCollapse"
        >
        <span class="fw-bold">
            {{ 'backoffice.larp.reference.list'|trans }}
        </span>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-down transition toggleIcon"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>

        <div id="referencesCollapse" class="collapse">
            <div class="card-body">
                {{ component('StoryObjectReferencesListForm', {
                    storyObject: character,
                }) }}
            </div>
        </div>
    </div>
    <div class="card mb-3 shadow-sm">
        <div class="card-header">Version history</div>
        <div class="card-body">
            {{ component('StoryObjectVersionHistory', { storyObject: character }) }}
        </div>
    </div>

{% endblock %}

{% block title %}{{ larp.title }} - {{ character.getTitle() ?? 'common.new'|trans }}{% endblock %}

