{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_content %}
    <h2>{{ 'backoffice.larp.applications.title'|trans }}</h2>
    <p>{{ 'backoffice.larp.applications.missing'|trans({'%count%': missing}) }}</p>
    {% include 'includes/filter_form.html.twig' with { form: filterForm, larp: larp } %}
    <ul>
        {% for stat in factionStats %}
            <li>{{ stat.faction.title }} - {{ stat.percentage }}%</li>
        {% endfor %}
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'common.user'|trans }}</th>
            <th>{{ 'form.contact_email'|trans }}</th>
            <th>{{ 'form.favourite_style'|trans }}</th>
            <th>{{ 'form.triggers'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.user.username }}</td>
                <td>{{ application.contactEmail }}</td>
                <td>{{ application.favouriteStyle }}</td>
                <td>{{ application.triggers }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
