{% macro larpBackofficeMenu(larp) %}
    {% set currentRoute = app.request.attributes.get('_route') %}

    <div class="container-xl my-4">
        <div class="d-flex align-items-center flex-wrap gap-3">

            <h1 class="h2 mb-0">{{ larp.title }}</h1>

            <div class="d-flex ms-auto gap-2">
                <div class="btn-group" role="group" aria-label="LARP General Menu">

                    <a href="{{ path('public_larp_details', {'slug': larp.slug}) }}" class="btn btn-secondary">
                        {{ 'backoffice.larp.preview'|trans }}
                    </a>

                    <a href="{{ path('backoffice_larp_details', {'larp': larp.id}) }}"
                       class="btn btn-primary {% if currentRoute == 'backoffice_larp_details' %}active{% endif %}">
                        {{ 'common.general'|trans }}
                    </a>

                    {% if is_granted('MANAGE_LARP_GENERAL_SETTINGS', larp) %}
                    <a href="{{ path('backoffice_larp_status_index', {larp: larp.id}) }}" class="btn btn-primary">
                        {{ 'backoffice.larp.status.manage'|trans }}
                    </a>
                    {% endif %}

                    {% if is_granted('VIEW_BO_LARP_INTEGRATION_SETTINGS', larp) %}
                        <a href="{{ path('backoffice_larp_integration_settings', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if currentRoute == 'backoffice_larp_integration_settings' %}active{% endif %}">
                            {{ 'backoffice.larp.integrations'|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('VIEW_BO_LARP_INVITATIONS', larp) %}
                        <a href="{{ path('backoffice_larp_invitations_list', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if currentRoute == 'backoffice_larp_invitations' %}active{% endif %}">
                            {{ 'backoffice.larp.invitations'|trans }}
                        </a>
                    {% endif %}

                    <a href="{{ path('backoffice_larp_kanban_board', {'larp': larp.id}) }}"
                       class="btn btn-primary {% if currentRoute == 'backoffice_larp_kanban_board' %}active{% endif %}">
                        {{ 'backoffice.larp.tasks'|trans }}
                    </a>
                </div>

                {% set isApplicationsRoute = 'larp_applications' in currentRoute %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle {% if isApplicationsRoute %}active{% endif %}"
                            type="button" id="applicationsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'backoffice.larp.applications.title'|trans }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="applicationsDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ path('backoffice_larp_applications_list', {'larp': larp.id}) }}">
                                {{ 'common.list'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('backoffice_larp_applications_match', {'larp': larp.id}) }}">
                                {{ 'backoffice.larp.applications.match'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>

                {% if is_granted('VIEW_BO_LARP_INCIDENTS', larp) %}
                    {% set isIncidentsRoute = 'larp_incident' in currentRoute %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle {% if isIncidentsRoute %}active{% endif %}"
                                type="button" id="incidentsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'common.incidents'|trans }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="incidentsDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_incidents', {'larp': larp.id}) }}">
                                    {{ 'common.list'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}

                {% if is_granted('VIEW_BO_LARP_STORY', larp) %}
                    {% set isStoryRoute = 'larp_story' in currentRoute %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle {% if isStoryRoute %}active{% endif %}"
                                type="button" id="storyDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'backoffice.larp.story.main_title'|trans }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="storyDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_main', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.story.main_title'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_character_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.character.list'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_marketplace_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.marketplace'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_faction_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.faction.list'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_thread_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.threads'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_quest_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.quest.list'|trans }}
                                </a>
                            </li>
{#                            <li>#}
{#                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_relations', {'larp': larp.id}) }}">#}
{#                                    {{ 'backoffice.larp.relations'|trans }}#}
{#                                </a>#}
{#                            </li>#}
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_event_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.events'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_place_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.place.list'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_item_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.item.list'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('backoffice_larp_story_tag_list', {'larp': larp.id}) }}">
                                    {{ 'backoffice.larp.tag.list'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

