{% macro larpBackofficeMenu(larp) %}
    {% set currentRoute = app.request.attributes.get('_route') %}

    <div class="larp-backoffice-header">
        <div class="container-xl">
            {# LARP Title Section #}
            <div class="larp-header-title">
                {# Mobile toggle button next to title #}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#larpNavbar"
                        aria-controls="larpNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <h1 class="larp-title">
                    <i class="bi bi-dice-5"></i>
                    <span>{{ larp.title }}</span>
                </h1>
                <a href="{{ path('public_larp_details', {'slug': larp.slug}) }}"
                   class="btn btn-outline-primary btn-sm ms-auto"
                   title="{{ 'larp.preview'|trans }}">
                    <i class="bi bi-eye"></i> {{ 'larp.preview'|trans }}
                </a>
            </div>

            {# Navigation Bar #}
            <nav class="navbar navbar-expand-lg navbar-light larp-navbar">
                <div class="container-fluid px-0">
                    {# Collapsible navigation #}
                    <div class="collapse navbar-collapse" id="larpNavbar">
                        <ul class="navbar-nav">
                            {# Check if user is LARP organizer (ROLE_ORGANIZER) #}
                            {% set isOrganizer = false %}
                            {% for participant in larp.participants %}
                                {% if participant.user.id == app.user.id and participant.isAdmin %}
                                    {% set isOrganizer = true %}
                                {% endif %}
                            {% endfor %}

                            {# Administration Dropdown (ROLE_ORGANIZER only) #}
                            {% if isOrganizer %}
                                {% set isAdministrationRoute = currentRoute == 'backoffice_larp_dashboard' or 'larp_status' in currentRoute or 'larp_invitations' in currentRoute or 'larp_participant' in currentRoute or 'larp_integration_settings' in currentRoute  %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if isAdministrationRoute %}active{% endif %}"
                                       href="#" id="administrationDropdown" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" title="{{ 'larp.administration.title'|trans }}">
                                        <i class="bi bi-shield-lock"></i> {{ 'larp.administration.title'|trans }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="administrationDropdown">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_dashboard', {'larp': larp.id}) }}">
                                                <i class="bi bi-speedometer2"></i> {{ 'dashboard'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_status_index', {'larp': larp.id}) }}">
                                                <i class="bi bi-gear"></i> {{ 'larp.status.manage'|trans }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_invitations_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-envelope"></i> {{ 'larp.invitation.plural'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_participant_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-people"></i> {{ 'larp.participant.plural'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_mailing_templates', {'larp': larp.id}) }}">
                                                <i class="bi bi-envelope-paper"></i> {{ 'larp.mailing.title'|trans }}
                                            </a>
                                        </li>
                                        {% if is_granted('VIEW_BO_LARP_INTEGRATION_SETTINGS', larp) %}
                                            <li>
{#                                                {% if currentRoute == 'backoffice_larp_integration_settings' %}active{% endif %}#}
                                                <a class="dropdown-item "
                                                   href="{{ path('backoffice_larp_integration_settings', {'larp': larp.id}) }}"
                                                   title="{{ 'larp.integrations'|trans }}">
                                                    <i class="bi bi-plugin"></i> {{ 'larp.integrations'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item"
                                               href="{{ path('backoffice_larp_map_list', {'larp': larp.id}) }}?staff_positions=1"
                                               title="{{ 'staff_position.title'|trans }}">
                                                <i class="bi bi-geo-alt-fill"></i> {{ 'staff_position.title'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link {% if currentRoute == 'backoffice_larp_kanban_board' %}active{% endif %}"
                                   href="{{ path('backoffice_larp_kanban_board', {'larp': larp.id}) }}"
                                   title="{{ 'larp.tasks'|trans }}">
                                    <i class="bi bi-kanban"></i> {{ 'larp.tasks'|trans }}
                                </a>
                            </li>

                            {# Applications Dropdown #}
                            {% set isApplicationsRoute = 'larp_applications' in currentRoute %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if isApplicationsRoute %}active{% endif %}"
                                   href="#" id="applicationsDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false" title="{{ 'larp.applications.title'|trans }}">
                                    <i class="bi bi-person-check"></i> {{ 'larp.applications.title'|trans }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="applicationsDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('backoffice_larp_applications_list', {'larp': larp.id}) }}">
                                            <i class="bi bi-list-ul"></i> {{ 'list'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('backoffice_larp_applications_match', {'larp': larp.id}) }}">
                                            <i class="bi bi-shuffle"></i> {{ 'larp.applications.match'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            {# Story & Content Dropdown #}
                            {% if is_granted('VIEW_BO_LARP_STORY', larp) %}
                                {% set isStoryRoute = 'larp_story' in currentRoute %}
                                {% set isMapRoute = 'larp_map' in currentRoute %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if isStoryRoute or isMapRoute %}active{% endif %}"
                                       href="#" id="storyDropdown" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false" title="{{ 'larp.story.main_title'|trans }}">
                                        <i class="bi bi-book"></i> {{ 'larp.story.main_title'|trans }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="storyDropdown">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_main', {'larp': larp.id}) }}">
                                                <i class="bi bi-house-door"></i> {{ 'dashboard'|trans }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>

                                        {# Core Story Elements #}
                                        <li><h6 class="dropdown-header">Core Elements</h6></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_character_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-person"></i> {{ 'larp.character.list'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_faction_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-people"></i> {{ 'larp.faction.list'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_lore_document_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-journal-text"></i> {{ 'lore.document.list'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_marketplace_threads_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-shop"></i> {{ 'marketplace.singular'|trans }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>

                                        {# Story Content #}
                                        <li><h6 class="dropdown-header">Story Content</h6></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_thread_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-bezier2"></i> {{ 'larp.threads'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_quest_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-flag"></i> {{ 'larp.quest.list'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_event_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-calendar-event"></i> {{ 'larp.events'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_event_timeline', {'larp': larp.id}) }}">
                                                <i class="bi bi-clock-history"></i> {{ 'lore.timeline'|trans }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>

                                        {# World Building #}
                                        <li><h6 class="dropdown-header">World Building</h6></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_place_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-geo-alt"></i> {{ 'larp.place.list'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_map_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-map"></i> {{ 'larp.map.singular'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_item_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-box-seam"></i> {{ 'larp.item.list'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('backoffice_larp_story_tag_list', {'larp': larp.id}) }}">
                                                <i class="bi bi-tags"></i> {{ 'larp.tag.list'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            {# Event Planner Dropdown #}
                            {% set isEventPlannerRoute = 'event_planner' in currentRoute %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if isEventPlannerRoute %}active{% endif %}"
                                   href="#" id="eventPlannerDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false" title="{{ 'event_planner.title'|trans }}">
                                    <i class="bi bi-calendar-range"></i> {{ 'event_planner.title'|trans }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="eventPlannerDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('backoffice_event_planner_calendar_index', {'larp': larp.id}) }}">
                                            <i class="bi bi-calendar-week"></i> {{ 'event_planner.calendar.title'|trans }}
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('backoffice_event_planner_event_list', {'larp': larp.id}) }}">
                                            <i class="bi bi-calendar-event"></i> {{ 'event_planner.event.list'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('backoffice_event_planner_resource_list', {'larp': larp.id}) }}">
                                            <i class="bi bi-box-seam"></i> {{ 'event_planner.resource.list'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            {# Incidents #}
                            {% if is_granted('VIEW_BO_LARP_INCIDENTS', larp) %}
                                {% set isIncidentsRoute = 'larp_incident' in currentRoute %}
                                <li class="nav-item">
                                    <a class="nav-link {% if isIncidentsRoute %}active{% endif %}"
                                       href="{{ path('backoffice_larp_incidents', {'larp': larp.id}) }}"
                                       title="{{ 'incidents'|trans }}">
                                        <i class="bi bi-shield-exclamation"></i> {{ 'incidents'|trans }}
                                    </a>
                                </li>
                            {% endif %}

                            {# Photo Galleries #}
                            {% set isGalleryRoute = 'larp_gallery' in currentRoute %}
                            <li class="nav-item">
                                <a class="nav-link {% if isGalleryRoute %}active{% endif %}"
                                   href="{{ path('backoffice_larp_gallery_list', {'larp': larp.id}) }}"
                                   title="{{ 'gallery.list'|trans }}">
                                    <i class="bi bi-images"></i> {{ 'gallery.list'|trans }}
                                </a>
                            </li>

                            {# AI Assistant #}
                            {% if is_granted('VIEW_BO_AI_ASSISTANT', larp) %}
                                <li class="nav-item">
                                    <a class="nav-link {% if 'ai_assistant' in currentRoute %}active{% endif %}"
                                       href="{{ path('backoffice_larp_ai_assistant_chat', {'larp': larp.id}) }}"
                                       title="{{ 'ai_assistant.title'|trans }}">
                                        <i class="bi bi-robot"></i> {{ 'ai_assistant.title'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endmacro %}
