{% macro larpBackofficeMenu(larp) %}
    {% set currentRoute = app.request.attributes.get('_route') %}

    <div class="container-xl my-4">
        <div class="d-flex align-items-center flex-wrap gap-3">

            <h1 class="h2 mb-0">{{ larp.name }}</h1>

            <div class="d-flex ms-auto gap-2">
                <div class="btn-group" role="group" aria-label="LARP General Menu">

                    <a href="{{ path('public_larp_details', {'slug': larp.slug}) }}" class="btn btn-secondary">
                        {{ 'backoffice.larp.preview'|trans }}
                    </a>

                    <a href="{{ path('backoffice_larp_details', {'id': larp.id}) }}"
                       class="btn btn-primary {% if currentRoute == 'backoffice_larp_details' %}active{% endif %}">
                        {{ 'common.general'|trans }}
                    </a>

                    {% if is_granted('VIEW_BO_LARP_INTEGRATION_SETTINGS', larp) %}
                        <a href="{{ path('backoffice_larp_integration_settings', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if currentRoute == 'backoffice_larp_integration_settings' %}active{% endif %}">
                            {{ 'backoffice.larp.integrations'|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('VIEW_BO_LARP_INVITATIONS', larp) %}
                        <a href="{{ path('backoffice_larp_invitations_list', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if currentRoute == 'backoffice_larp_invitations' %}active{% endif %}">
                            {{ 'backoffice.larp.invitations'|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('VIEW_BO_LARP_INCIDENTS', larp) %}
                        <a href="{{ path('backoffice_larp_incidents', {'id': larp.id}) }}"
                           class="btn btn-primary {% if 'larp_incident' in currentRoute %}active{% endif %}">
                            {{ 'common.incidents'|trans }}
                        </a>
                    {% endif %}
                </div>

                {% if is_granted('VIEW_BO_LARP_STORY', larp) %}
                    <div class="btn-group" role="group" aria-label="LARP Story Menu">
                        <a href="{{ path('backoffice_larp_story_character_list', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if 'larp_story_character' in currentRoute %}active{% endif %}">
                            {{ 'backoffice.larp.character.list'|trans }}
                        </a>

                        <a href="{{ path('backoffice_larp_story_faction_list', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if 'larp_story_faction' in currentRoute %}active{% endif %}">
                            {{ 'backoffice.larp.faction.list'|trans }}
                        </a>

                        <a href="{{ path('backoffice_larp_story_quests', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if 'larp_story_quest' in currentRoute %}active{% endif %}">
                            {{ 'backoffice.larp.quest.list'|trans }}
                        </a>

                        <a href="{{ path('backoffice_larp_story_relations', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if 'larp_story_relation' in currentRoute %}active{% endif %}">
                            {{ 'backoffice.larp.relations'|trans }}
                        </a>

                        <a href="{{ path('backoffice_larp_story_events', {'larp': larp.id}) }}"
                           class="btn btn-primary {% if 'larp_story_event' in currentRoute %}active{% endif %}">
                            {{ 'backoffice.larp.events'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

