{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_title %}{{ 'larp.create'|trans }}{% endblock %}

{% block larp_content  %}
    <h1>{{ 'larp.create'|trans() }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}