{#{% extends 'backoffice/base.html.twig' %}#}
{#{% import 'backoffice/larp/_menu.html.twig' as larpMenu %}#}

{#{% block title %}#}
{#    {{ 'backoffice.larp.integrationSettings'|trans }}#}
{#{% endblock %}#}

{#{% block body %}#}
{#    <header>#}
{#        {{ larpMenu.larpBackofficeMenu(larp) }}#}
{#    </header>#}
{#    <main>#}
{#        <div class="container mt-4">#}
{#            <h1>{{ 'backoffice.larp.integrationSettings'|trans }}</h1>#}

{#            <div class="card mt-4">#}
{#                <div class="card-header">#}
{#                    <h2>{{ 'backoffice.larp.integration.googleDrive'|trans }}</h2>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <p>{{ 'backoffice.larp.integration.googleDriveDescription'|trans }}</p>#}

{#                    {% if integrations is empty %}#}
{#                        <p>{{ 'common.empty_list'|trans }}</p>#}
{#                        <a#}
{#                                href="{{ path('backoffice_larp_google_drive_connect', { id: larp.id }) }}"#}
{#                                target="_blank"#}
{#                                class="btn btn-primary"#}
{#                        >#}
{#                            {{ 'backoffice.larp.integration.googleDriveConnect'|trans }}#}
{#                        </a>#}

{#                    {% else %}#}
{#                        #}{# Scenario: We have at least one integration (focus on Google) #}
{#                        {% for integration in integrations %}#}
{#                            {% if integration.provider.value is same as constant('App\\Enum\\LarpIntegrationProvider::Google').value %}#}
{#                                {% include 'backoffice/larp/integrations/partials/_googleDriveIntegration.html.twig' %}#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </main>#}
{#{% endblock %}#}

{# templates/backoffice/larp/integrationsSettings.html.twig #}
{% extends 'backoffice/base.html.twig' %}
{% import 'backoffice/larp/_menu.html.twig' as larpMenu %}

{% block title %}
    {{ 'backoffice.larp.integrationSettings'|trans }}
{% endblock %}

{% block body %}
    <header>
        {{ larpMenu.larpBackofficeMenu(larp) }}
    </header>
    <main>
        <div class="container mt-4">
            <h1>{{ 'backoffice.larp.integrationSettings'|trans }}</h1>
            {% for provider in availableProviders %}
                {% set current = integrations|filter(i => i.provider.sameAs(provider))|first %}

                <div class="card mt-4">
                    <div class="card-header">
                        <h2>{{ provider.displayName() }}</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ provider.descriptionKey() is not null ? provider.descriptionKey()|trans : '' }}</p>

                        {% if current == false %}
                            <p>{{ 'common.not_connected'|trans }}</p>
                            <a href="{{ path('backoffice_larp_connect_integration', { id: larp.id, provider: provider.value }) }}" class="btn btn-primary">
                                {{ 'common.connect'|trans }}
                            </a>
                        {% else %}
                            {% if provider.integrationSettingsTemplate() %}
                                {% include 'backoffice/larp/integrations/' ~ provider.integrationSettingsTemplate() with { integration: current, larp: larp } %}
                            {% else %}
                                <p>{{ 'common.connected'|trans }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}