{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_content %}
        <h1 class="mb-4">{{ 'backoffice.larp.list'|trans }}</h1>

        {% if larps|length > 0 %}
            <div class="list-group">
                {% for larp in larps %}
                    <a href="{{ path('backoffice_larp_dashboard', {'larp': larp.id}) }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <div><small>{{ larp.status.value }}</small><h5 class="mb-1">{{ larp.title }}</h5></div>
                            <small>{{ larp.startDate|date('Y-m-d') }}</small>
                        </div>
                        <p class="mb-1">{{ larp.description|sanitize_html|slice(0, 150) ~ '...'}}</p>
                        <small>{{ larp.location }}</small>

                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                {{ 'public.larp.no_larps'|trans }}
            </div>
        {% endif %}
{% endblock %}