{% extends 'backoffice/larp/base.html.twig' %}

{% import 'macros/ui_components.html.twig' as ui %}

{% block larp_title %}{{ (map is defined and map.id ? 'larp.map.modify' : 'larp.map.create')|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>
                {% if isNew %}
                    {{ 'larp.map.create'|trans }}
                {% else %}
                    {{ 'larp.map.edit'|trans }} - {{ map.name }}
                {% endif %}
            </h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ ui.form_actions(
                map is defined and map.id ? 'save' : 'create',
                'bi-check-circle',
                path('backoffice_larp_map_list', { larp: larp.id })
            ) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
