{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_title %}{{ (map is defined and map.id ? 'larp.map.modify' : 'larp.map.create')|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>
                {% if isNew %}
                    {{ 'larp.map.create'|trans }}
                {% else %}
                    {{ 'larp.map.edit'|trans }} - {{ map.name }}
                {% endif %}
            </h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex gap-2 mt-3">
                <button type="submit" class="btn btn-primary">
                    {{ 'save'|trans }}
                </button>
                <a href="{{ path('backoffice_larp_map_list', { larp: larp.id }) }}" class="btn btn-secondary">
                    {{ 'cancel'|trans }}
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
