{% macro confirmFormButton(formId, buttonLabel, confirmMessage) %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal-{{ formId }}">
        {{ buttonLabel|trans }}
    </button>

    <div class="modal fade" id="confirmModal-{{ formId }}" tabindex="-1" aria-labelledby="confirmModalLabel-{{ formId }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel-{{ formId }}">{{ 'common.confirm'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'common.close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    <p>{{ confirmMessage|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'common.cancel'|trans }}</button>
                    <button type="button" class="btn btn-danger" onclick="document.getElementById('{{ formId }}').submit();">{{ 'common.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
