{% extends 'backoffice/larp/marketplace/_base.html.twig' %}

{% set active_tab = 'quests' %}

{% block marketplace_content %}
    {% include 'includes/filter_form.html.twig' with { form: filterForm } %}

    {% if quests is not empty %}
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th>{{ 'title'|trans }}</th>
                        <th>{{ 'description'|trans }}</th>
                        <th>{{ 'tags'|trans }}</th>
                        <th>{{ 'marketplace.involved'|trans }} {{ 'larp.character.list'|trans }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quest in quests %}
                        <tr>
                            <td>
                                <a href="{{ path('backoffice_larp_story_quest_modify', {
                                    larp: larp.id, quest: quest.id
                                }) }}">
                                    {{ quest.title }}
                                </a>
                            </td>
                            <td>{{ quest.description|sanitize_html|striptags|u.truncate(100, '...') }}</td>
                            <td>
                                {% for tag in quest.tags %}
                                    <span class="badge bg-info">{{ tag.title }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% if quest.involvedCharacters|length > 0 %}
                                    {{ quest.involvedCharacters|length }}
                                {% else %}
                                    <span class="text-muted">{{ 'marketplace.no_characters'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('backoffice_larp_story_quest_modify', {
                                    larp: larp.id, quest: quest.id
                                }) }}" class="btn btn-sm btn-primary">
                                    {{ 'edit'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'includes/pagination.html.twig' with { pagination: quests } %}
    {% else %}
        <p class="text-muted p-3">{{ 'empty_list'|trans }}</p>
    {% endif %}
{% endblock %}
