{% extends 'backoffice/larp/base.html.twig' %}
{% import 'macros/ui_components.html.twig' as ui %}
{% import 'includes/story_object_tabs.html.twig' as tabs_macro %}

{% block larp_content %}
    {% if thread is defined and thread.id %}
        {% include 'includes/story_object_header.html.twig' with {
            storyObject: thread,
            storyObjectType: 'larp.thread.singular',
            mentionsCount: mentions|length
        } %}

        {{ tabs_macro.tabs('details', thread, 'thread', larp, mentions|length, true) }}
    {% endif %}

    <div class="tab-pane border border-top-0 p-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ ui.form_actions(
            thread is defined and thread.id ? 'save' : 'create',
            'bi-check-circle',
            path('backoffice_larp_story_thread_list', { larp: larp.id })
        ) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block larp_title %}{{ (thread is defined and thread.id ? 'larp.thread.modify' : 'larp.thread.create')|trans }} - {{ larp.title }}{% endblock %}
