{% extends 'backoffice/larp/base.html.twig' %}

{% import 'includes/story_object_tabs.html.twig' as tabs_macro %}

{% block larp_title %}{{ 'larp.thread.tree_editor'|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
    {% include 'includes/story_object_header.html.twig' with {
        storyObject: thread,
        storyObjectType: 'larp.thread.singular',
        mentionsCount: mentions|length
    } %}

    {{ tabs_macro.tabs('tree', thread, 'thread', larp, mentions|length, true) }}
<div class="tab-pane pt-2 border border-top-0">
    <form method="post">
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection">
        <div data-controller="decision-tree"
             data-decision-tree-elements-value='{{ thread.decisionTree is empty ? "{}" : thread.decisionTree|json_encode }}'
             data-decision-tree-larp-id-value="{{ larp.id }}"
             style="width: 100%; height: 600px;">
            <input type="hidden" name="decisionTree" data-decision-tree-target="input" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">{{ 'save'|trans }}</button>
    </form>
</div>
{% endblock %}
