<div class="p-3">
    {{ form_start(form, { method: 'get' }) }}
    <div class="row g-2">

        {% for child in form %}
            {% if child.vars.block_prefixes is not empty and child.vars.block_prefixes[1] != 'hidden' %}
                <div class="col-md-3">
                    {{ form_row(child) }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">&nbsp;</label>
                <div class="d-block">
                    <button type="submit" class="btn btn-outline-primary">{{ 'filter'|trans }}</button>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                       class="btn btn-outline-secondary">{{ 'clear'|trans }}</a>
                    {% if larp is defined %}
                    <div class="d-inline-block">
                        {{ component('SaveFilterForm', {
                            formName: form.vars.name,
                            parameters: app.request.query.all,
                            larpId: larp.id
                        }) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>