{% extends 'backoffice/larp/base.html.twig' %}
{% import 'macros/ui_components.html.twig' as ui %}

{% block larp_title %}{{ (tag is defined and tag.id ? 'larp.tag.modify' : 'larp.tag.create')|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
    <div class="tab-pane border border-top-0 p-3">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            {# Form actions with consistent styling #}
            {{ ui.form_actions(
                tag is defined and tag.id ? 'save' : 'create',
                'bi-check-circle',
                path('backoffice_larp_story_tag_list', { larp: larp.id })
            ) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
