{% extends 'backoffice/larp/base.html.twig' %}

{% import 'includes/story_object_tabs.html.twig' as tabs_macro %}
{% import 'macros/ui_components.html.twig' as ui %}

{% block larp_content %}
    {# Header showing story object type and title (only for existing objects) #}
    {% if event is defined and event.id %}
        {% include 'includes/story_object_header.html.twig' with {
            storyObject: event,
            storyObjectType: 'larp.event.singular',
            mentionsCount: mentions|length
        } %}
    {% endif %}

    {% set detailsContent %}
        <div class="tab-pane border border-top-0 p-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ ui.form_actions(
                event is defined and event.id ? 'save' : 'create',
                'bi-check-circle',
                path('backoffice_larp_story_event_list', { larp: larp.id })
            ) }}
            {{ form_end(form) }}
        </div>
    {% endset %}

    {% if event is defined and event.id %}
        {# Tabs navigation #}
        {{ tabs_macro.tabs('details', event, 'event', larp, mentions|length, false) }}

        {{ detailsContent|raw }}
    {% else %}
        {{ detailsContent|raw }}
    {% endif %}

{% endblock %}

{% block larp_title %}{{ (event is defined and event.id ? 'larp.event.modify' : 'larp.event.create')|trans }} - {{ larp.title }}{% endblock %}
