{% extends 'backoffice/larp/base.html.twig' %}
{% import 'macros/ui_components.html.twig' as ui %}

{% block larp_title %}{{ (not isNew ? 'backoffice.location.modify' : 'backoffice.location.create')|trans }}{% endblock %}

{% block body %}
    <div class="container-xl mt-4">
        {# Page header with back button #}
        {% set actions %}
            {{ ui.secondary_button('back', path('backoffice_location_list'), 'bi-arrow-left') }}
        {% endset %}
        {{ ui.page_header(
            isNew ? 'backoffice.location.create' : 'backoffice.location.modify',
            actions
        ) }}

        {# Show approval status for existing locations #}
        {% if not isNew %}
            <div class="alert alert-{{ location.approvalStatus.badgeClass }} mt-3">
                <strong>{{ 'location.approval_status'|trans }}:</strong>
                {% include 'includes/location_approval_badge.html.twig' with { location: location } %}

                {% if location.isRejected and location.rejectionReason %}
                    <div class="mt-2">
                        <strong>{{ 'location.rejection_reason'|trans }}:</strong>
                        <p class="mb-0">{{ location.rejectionReason }}</p>
                    </div>
                {% endif %}

                {% if location.isPending %}
                    <p class="mb-0 mt-2">
                        <small>{{ 'location.pending_message'|trans }}</small>
                    </p>
                {% endif %}
            </div>
        {% endif %}

        <div class="card mt-4">
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.title) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.isActive) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.isPublic) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.description) }}
                            </div>
                        </div>

                        {{ ui.form_section('backoffice.location.section.address', null, 'bi-geo-alt') }}
                        <div data-controller="google-places-autocomplete"
                             data-google-places-autocomplete-api-key-value="{{ googleMapsApiKey }}"
                             data-google-places-autocomplete-address-field-value="#{{ form.address.vars.id }}"
                             data-google-places-autocomplete-city-field-value="#{{ form.city.vars.id }}"
                             data-google-places-autocomplete-country-field-value="#{{ form.country.vars.id }}"
                             data-google-places-autocomplete-postal-code-field-value="#{{ form.postalCode.vars.id }}"
                             data-google-places-autocomplete-latitude-field-value="#{{ form.latitude.vars.id }}"
                             data-google-places-autocomplete-longitude-field-value="#{{ form.longitude.vars.id }}">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.address) }}
                                    <small class="form-text text-muted">
                                        <i class="bi bi-info-circle me-1"></i>Start typing an address to use autocomplete
                                    </small>
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.city) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.postalCode) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.country) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.latitude) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.longitude) }}
                                </div>
                            </div>
                        </div>

                        {{ ui.form_section('backoffice.location.section.contact', null, 'bi-envelope') }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.contactEmail) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.contactPhone) }}
                            </div>
                        </div>

                        {{ ui.form_section('backoffice.location.section.online', null, 'bi-globe') }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.website) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.facebook) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.instagram) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.twitter) }}
                            </div>
                        </div>

                        {{ ui.form_section('backoffice.location.section.additional', null, 'bi-info-square') }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.facilities) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.accessibility) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.parkingInfo) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.publicTransport) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.capacity) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.recaptcha) }}
                            </div>
                        </div>

                        {# Form actions with consistent styling #}
                        {{ ui.form_actions(
                            isNew ? 'create' : 'save',
                            'bi-check-circle',
                            path('backoffice_location_list')
                        ) }}

                        {{ form_end(form) }}
                    </div>
                </div>
    </div>
{% endblock %}