<div {{ attributes }} >
    {{ form_start(form) }}
    {{ form_row(form.mappingType) }}
    {% if form.meta is defined %}
        {{ form_row(form.meta) }}
    {% endif %}
    {% if form.mappings is defined %}
        {{ form_row(form.mappings) }}
    {% endif %}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>