<div {{ attributes }} >
    {{ form_start(form) }}
    {{ form_row(form.mappingType) }}
    {% if form.columnMappings is defined %}
        {{ form_row(form.columnMappings) }}
    {% endif %}
    {{ form_end(form) }}
</div>