{% extends 'backoffice/larp/base.html.twig' %}

{% block larp_title %}{{ 'larp.mapping.title'|trans }} - {{ larp.title }}{% endblock %}

{% block larp_content %}
        <h3>{{ 'larp.mapping.heading'|trans }} - {{ sharedFile.fileName }}</h3>
        {{ component('ExternalResourceMappingForm', {
            formData: form.vars.value,
            form: form,
            mimeType: sharedFile.mimeType,
        }) }}
{% endblock %}
