{% extends 'backoffice/larp/base.html.twig' %}

{% block title %}{{ 'backoffice.google_drive_folders.title'|trans }}{% endblock %}

{% block larp_content %}
    <h1>{{ 'backoffice.google_drive_folders.heading'|trans }}</h1>
    {% if folders is not empty %}
        <ul>
            {% for folder in folders %}
                <li>{{ folder.name }} (ID: {{ folder.id }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ 'backoffice.google_drive_folders.no_folders'|trans }}</p>
    {% endif %}
{% endblock %}
