{% extends 'backoffice/base.html.twig' %}

{% block title %}{{ 'backoffice.spreadsheet_mapping.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'backoffice.spreadsheet_mapping.heading'|trans }}</h1>

        {{ form_start(form) }}

        <div class="mb-3">
            {{ form_row(form.mappingType) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.startingRow) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.factionColumn) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.characterNameColumn) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.inGameNameColumn) }}
        </div>

        <div class="mt-4">
            <button class="btn btn-primary">{{ 'backoffice.spreadsheet_mapping.save'|trans }}</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
