{% extends 'backoffice/base.html.twig' %}

{% block title %}{{ 'backoffice.spreadsheet_mapping.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'backoffice.spreadsheet_mapping.heading'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.startingRow, { 'label': 'form.spreadsheet_mapping.starting_row'|trans }) }}
        {{ form_row(form.factionColumn, { 'label': 'form.spreadsheet_mapping.faction_column'|trans }) }}
        {{ form_row(form.characterNameColumn, { 'label': 'form.spreadsheet_mapping.character_name_column'|trans }) }}
        {{ form_row(form.inGameNameColumn, { 'label': 'form.spreadsheet_mapping.in_game_name_column'|trans }) }}
        <button class="btn btn-primary">{{ 'backoffice.spreadsheet_mapping.save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
