<h5>{{ 'larp.integration.current'|trans }}: {{ integration.provider.name }}</h5>
<strong>Scopes:</strong>
<ul>
    {% for scope in integration.scopes|split(' ') %}
        <li>{{ scope }}</li>
    {% endfor %}
</ul>

{# If token is expired, show Reconnect button #}
{% set nowPlus30 = 'now'|date_modify('+30 seconds') %}
{% if integration.expiresAt < nowPlus30 %}
    <div class="alert alert-warning">
        {{ 'larp.integration.expired'|trans }}
    </div>
    <a
            href="{{ path('backoffice_larp_connect_integration', { id: larp.id, provider: provider.value }) }}"
            target="_blank"
            class="btn btn-primary"
    >
        {{ 'larp.integration.reconnect'|trans }}
    </a>
{% else %}

    {% set sharedFilesArray = integration.sharedFiles|map(file => {
        id: file.id,
        fileId: file.fileId,
        fileName: file.fileName,
        mimeType: file.mimeType,
        permission: file.permissionType
    }) %}
    <div
            data-controller="google-file-picker"
            data-oauth-token="{{ integration.accessToken }}"
            data-google-key="{{ google_api_key }}"
            data-initial-files="{{ sharedFilesArray|json_encode }}"
            data-mappings-base-url="{{ path('backoffice_larp_external_resource_mapping', { larp: larp.id, integration: integration.id , sharedFile: '__FILE_ID__'  }) }}"
    >
        <p>{{ 'larp.file_select.open_picker_desc'|trans }}</p>
        <button
                class="btn btn-success"
                data-action="click->google-file-picker#openPicker"
        >
            {{ 'open'|trans }}
        </button>
        <div data-google-file-picker-target="selectedFiles" class="mt-3"></div>
        <form
                action="{{ path('backoffice_larp_integration_file_permissions', { larp: larp.id, integrationId: integration.id }) }}"
                method="post"
        >
            <input
                    type="hidden"
                    data-google-file-picker-target="selectedFilesInput"
                    name="selectedFiles"
            />
            <button
                    type="submit"
                    class="btn btn-primary"
                    data-google-file-picker-target="saveButton"
                    disabled
            >
                {{ 'save'|trans }}
            </button>
            <a href="{{ path('backoffice_larp_external_resource_mapping', { larp: larp.id, integration: integration.id}) }}" class="btn btn-secondary">
                {{ 'larp.mapping.title'|trans }}
            </a>

        </form>
    </div>
{% endif %}